---
title: Contributing
mainPage: true
---

<a id="fork-me-on-github-ribbon" href="https://github.com/richwidgets/richwidgets"><img src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>

{{{md 'CONTRIBUTING.md'}}}