---
title: Home
---

<div class="jumbotron">
  <div class="container">
    <h1>RichWidgets!</h1>
    <p>RichWidgets provides a set of widgets built on top of jQuery UI and styled with Bootstrap 3.
      Use RichWidgets to bring rich and complex functionality to your web applications!</p>
    <p><a class="btn btn-primary btn-lg" href="about.html">Learn More</a></p>
  </div>
</div>