---
title: RichWidgets
mainPage: true
bodyClass: index
---

<style>
  body {
    /*background: no-repeat -webkit-linear-gradient(bottom, #4e4e4e, #747474);*/
  }


</style>


<div class="jumbotron">
  <div class="container row-fluid">
    <div class="col-lg-6 col-md-8">
    <h1>RichWidgets</h1>
    <p>Provides a set of responsive widgets built on top of jQuery UI and styled with Bootstrap 3.
      Use RichWidgets to bring rich and complex functionality to your web applications!</p>
    <p><a class="btn btn-primary btn-lg" href="about.html">Learn More</a></p>
    </div>
  </div>
</div>