@import "../mixins";
@import "../variables";

.pick-list {
  margin-bottom: @line-height-base;
  display: block;
  padding-left : 0;
  padding-right : 0;
  outline : none;

   .inner {
     .make-row();
   }

  .header {
    font-family: @headings-font-family;
    font-weight: @headings-font-weight;
    line-height: @headings-line-height;
    font-size: ceil(@font-size-base * 1.10);
    margin-top: @line-height-computed;
    margin-bottom: (@line-height-computed / 2);
  }

  .source-wrapper {
    .make-sm-column(5);
  }

  .target-wrapper {
    .make-sm-column(6);
  }

  .ordering-list .header {
    @media (min-width: @screen-sm) {
      display: none;
    }
  }

  .target-wrapper .header {
    @media (max-width: @screen-xs-max) {
      padding-top: 35px;
    }
  }

  .header-row {
    .make-row();
    .header {
      .make-xs-column(12);
    }
  }

  .sub-header-row {
    .make-row();
    .source {
      .make-sm-column(5);
    }
    .target {
      .make-sm-column(6);
      .make-sm-column-offset(1);
    }

    @media (max-width: @screen-xs-max) {
      display: none;
    }
  }

  .pick-button-column {
    text-align: center;
    z-index: 1;
    .make-sm-column(1);

    @media (min-width: @screen-sm) {
      height: @list-min-height;
      line-height: @list-min-height;
    }
  }

  .btn-group-picklist {  // a responsize btn-group
    > .btn {
      border-radius: 0;
      padding: 0;
      text-align: center;
    }

    .labeled {
      text-align: left;
      padding-left: 0.5em;
      span {
        padding-left: 0.5em;
        padding-right: 0.5em;
      }
    }

    @media (min-width: @screen-sm) {
      min-width: @size-clickable;
      display: inline-block;
      vertical-align: middle;

      > .btn {
        height: @size-clickable;
      }

      > .btn:first-child {
        .border-top-radius(@border-radius-base);
      }

      > .btn:last-child {
        .border-bottom-radius(@border-radius-base);
      }

      .icon-left-all:before {
        content: @fa-var-angle-double-left;
      }

      .icon-left:before {
        content: @fa-var-angle-left;
      }

      .icon-right:before {
        content: @fa-var-angle-right;
      }

      .icon-right-all:before {
        content: @fa-var-angle-double-right;
      }
    }

    @media (max-width: @screen-xs-max) {
      max-width: none;

      > .btn {
        height: @size-touchable;
        max-width: none;

      }

      > .btn:first-child {
        .border-left-radius(@border-radius-base);
      }

      > .btn:last-child {
        .border-right-radius(@border-radius-base);
      }

      .icon-left-all:before {
        content: @fa-var-angle-double-up;
      }

      .icon-left:before {
        content: @fa-var-angle-up;
      }

      .icon-right:before {
        content: @fa-var-angle-down;
      }

      .icon-right-all:before {
        content: @fa-var-angle-double-down;
      }
    }
  }

  .btn-add-all, .btn-add, .btn-remove, .btn-remove-all {
    .make-sm-column(12);
    .make-xs-column(3);
  }
}
