@import "../mixins";
@import "../variables";
@import "bootstrap/less/pagination";
@import "bootstrap/less/type";

.data-scroller {
  .pagination;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;

  .first .richicon-scroll:before {
    content: @fa-var-angle-left@fa-var-angle-left@fa-var-angle-left;
  }

  .fast-previous .richicon-scroll:before {
    content: @fa-var-angle-left@fa-var-angle-left;
  }

  .previous .richicon-scroll:before {
    content: @fa-var-angle-left;
  }

  .next .richicon-scroll:before {
    content: @fa-var-angle-right;
  }

  .fast-next .richicon-scroll:before {
    content: @fa-var-angle-right@fa-var-angle-right;
  }

  .last .richicon-scroll:before {
    content: @fa-var-angle-right@fa-var-angle-right@fa-var-angle-right;
  }

  > li > a{
    height: @size-clickable;
    width: @size-clickable;
  }
}

.scroller {
  .text-center
}
