---
title: Select
section: demo
js_assets: [jquery-ui/jquery.ui.core.js, jquery-ui/jquery.ui.widget.js, richwidgets/input/select.js]
js_assets_nonrw: [select2/select2.js]
css_assets: [richwidgets/input/select.css]
---
<h2>Select</h2>

<div class="container-fluid">

  <fieldset>
    <legend>Basic Select</legend>

    <div class="row">
      <div class="col col-md-6">

        <div class="panel panel-default">
          <div class="panel-body">
            {{include "select/select-basic.html"}}
          </div>
        </div>
      </div>
      <div class="col col-md-6">
        {{#markdown}}{{embed "src/demos/pages/input/select/select-basic-preview.html"}}{{/markdown}}
        {{#markdown}}{{embed "src/demos/pages/input/select/select-basic.js"}}{{/markdown}}
      </div>

    </div>
  </fieldset>

  <script src="{{assets-demo}}/input/select/select-basic.js"></script>
</div>