@import "src/widgets/variables";
@import "src/widgets/mixins";

@import "lib/rcue/less/fonts";

body.index {
  #gradient > .vertical(#747474, #4e4e4e);

  .container .jumbotron {
    background: none;

    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;

    h1, p {
      color: #dbdada;
      font-family: @headings-font-family;
      font-style: normal;
      font-weight: 300;

      line-height: 170%;
    }

    h1 {
      font-size: 30px;
      color: white;
    }

    @media (max-width: @grid-float-breakpoint) {
      p {
        font-size: 18px;
      }
    }
  }
}

.navbar-rcue {

  .collapse {
    #gradient .vertical(#474c50, #383f43);
  }

  .navbar-primary {
    background: none;
    font-size: @font-size-base;
  }
}

#fork-me-on-github-ribbon > img {
  position: fixed; top: 86px; right: 0; border: 0; z-index: 2000;
}

@media (min-width: @grid-float-breakpoint) {
  body {
    padding-top: 100px;
  }

  .navbar-rcue {
    .navbar-collapse {
      padding: 0 15px;

      .navbar-left {
        float: left;
      }
    }
  }


}

@media (max-width: @grid-float-breakpoint) {
  body {
    padding-top: 50px;
  }

  #fork-me-on-github-ribbon > img {
    top: 53px;
  }
}