@import "src/widgets/variables";
@import "src/widgets/mixins";

@font-path: "fonts";
@import "lib/patternfly/less/fonts";

body.index {
  #gradient > .vertical(#747474, #4e4e4e);

  .container .jumbotron {
    background: none;

    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;

    h1, p {
      color: #dbdada;
      font-family: @headings-font-family;
      font-style: normal;
      font-weight: 300;

      line-height: 170%;
    }

    h1 {
      font-size: 30px;
      color: white;
    }

    @media (max-width: @grid-float-breakpoint) {
      p {
        font-size: 18px;
      }
    }
  }
}

#fork-me-on-github-ribbon > img {
  position: fixed; top: 90px; right: 0; border: 0; z-index: 2000;
}

@media (min-width: @grid-float-breakpoint) {
  body {
    padding-top: 100px;
  }

  .navbar-pf {
    .navbar-collapse {
      // because we are using navbar-left and navbar-right, we need to fill-in whole area between them
      #gradient .vertical(@navbar-pf-navbar-primary-bg-color-start, @navbar-pf-navbar-primary-bg-color-stop);
    }

    .navbar-rw-left {
      float: right;
    }
  }
}

@media (max-width: @grid-float-breakpoint) {
  body {
    padding-top: 50px;
  }

  #fork-me-on-github-ribbon > img {
    top: 53px;
  }
}